@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="justify-content-center" style="text-align:center;">
                <div class="btn-group">
                    <a href="/senayan/admin/modules/bibliography/index.php" class="btn btn-default">รายการบรรณานุกรม</a>
                    <a href="/senayan/admin/modules/bibliography/index.php?action=detail" class="btn btn-default">เพิ่มรายการบรรณานุกรม</a>
                </div>
                <form name="search" action="/senayan/admin/modules/bibliography/index.php" id="search" method="get" class="form-inline">สืบค้น                    <input type="text" name="keywords" id="keywords" class="form-control col-md-3">
                    <select name="field" class="form-control col-md-2">
                        <option value="0">ทั้งหมด</option>
                        <option value="title">ชื่อเรื่อง/ชื่อวารสาร </option>
                        <option value="subject">หัวเรื่อง</option>
                        <option value="author">ผู้แต่ง</option>
                        <option value="isbn">ISBN/ISSN</option>
                        <option value="publisher">ผู้จัดทำ</option>
                    </select>
                    <input type="submit" id="doSearch" value="สืบค้น" class="s-btn btn btn-default">
                    <div class="btn btn-info" data-toggle="collapse" data-target="#advancedFilter" aria-expanded="false">Advanced Filter</div>
                    <div class="collapse" id="advancedFilter" style="padding-top:10px;width:100%; text-align:left !important;">
                        ไมแสดงผลใน OPAC&nbsp;
                        <select name="opac_hide" class="form-control col-md-2">
                            <option value="">ทั้งหมด</option>
                            <option value="0">แสดง </option>
                            <option value="1">ซ่อน</option>
                        </select>
                        แสดงผลในหน้าแรก&nbsp;
                        <select name="promoted" class="form-control col-md-2">
                            <option value="">ทั้งหมด</option>
                            <option value="0">ไมแสดงรายการแรก </option>
                            <option value="1">แสดงรายการแรก</option>
                        </select>
                    </div>
                                    </form>
            </div>